/** @format */

.NavbarItem {
  padding: 0 1.5em;
  list-style: none;
}

.NavbarItem a {
  text-transform: capitalize;
  text-decoration: none;
  color: #5a5a5a;
  font-weight: bold;
  font-size: 1.2rem;
}

.NavbarItem a:hover,
.NavbarItem a:active,
.NavbarItem a.active {
  color: #06bc9b;
  border-bottom: 4px solid #06bc9b;
}
