/** @format */

.Banner {
  position: absolute;
  top: 35%;
  left: 22%;
  text-align: center;
  color: #5a5a5a;
}

.Banner h1 {
  font-size: 2.4rem;
}

.Banner p {
  font-size: 1.1rem;
  letter-spacing: 1px;
}
